# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
storybook-static/0.56af0ecb321bcfa3ab87.manager.bundle.js
storybook-static/0.626db0f0.iframe.bundle.js
storybook-static/1.20bb4ba8.iframe.bundle.js
storybook-static/1.20bb4ba8.iframe.bundle.js.LICENSE.txt
storybook-static/1.20bb4ba8.iframe.bundle.js.map
storybook-static/2.04960292.iframe.bundle.js
storybook-static/3.df4ef9e1.iframe.bundle.js
storybook-static/4.203fa1f4a4e3b7de6dc5.manager.bundle.js
storybook-static/4.203fa1f4a4e3b7de6dc5.manager.bundle.js.LICENSE.txt
storybook-static/5.3363bfd7a04fd6121d93.manager.bundle.js
storybook-static/6.f83760e1dddf668b0bc9.manager.bundle.js
storybook-static/6.f83760e1dddf668b0bc9.manager.bundle.js.LICENSE.txt
storybook-static/7.1cb91a6ea5b81ba31cec.manager.bundle.js
storybook-static/7.2a7d618d.iframe.bundle.js
storybook-static/8.587edc344b063738c699.manager.bundle.js
storybook-static/8.a103ee68.iframe.bundle.js
storybook-static/8.a103ee68.iframe.bundle.js.LICENSE.txt
storybook-static/8.a103ee68.iframe.bundle.js.map
storybook-static/9.6375c038.iframe.bundle.js
storybook-static/asset-manifest.json
storybook-static/favicon.ico
storybook-static/iframe.html
storybook-static/index.html
storybook-static/logo192.png
storybook-static/logo512.png
storybook-static/main.ad483449.iframe.bundle.js
storybook-static/main.d51a492252c433da7f73.manager.bundle.js
storybook-static/manifest.json
storybook-static/mockServiceWorker.js
storybook-static/robots.txt
storybook-static/runtime~main.d55cabd5403851b52d02.manager.bundle.js
storybook-static/runtime~main.f2683cdd.iframe.bundle.js
storybook-static/vendors~main.13defbad.iframe.bundle.js
storybook-static/vendors~main.13defbad.iframe.bundle.js.LICENSE.txt
storybook-static/vendors~main.13defbad.iframe.bundle.js.map
storybook-static/vendors~main.80d7f954dbcd942aff37.manager.bundle.js
storybook-static/vendors~main.80d7f954dbcd942aff37.manager.bundle.js.LICENSE.txt
storybook-static/static/css/main.42487953.chunk.css
storybook-static/static/css/main.42487953.chunk.css.map
storybook-static/static/media/percolate.19e89b87.woff
storybook-static/static/media/percolate.944f04e6.eot
storybook-static/static/media/percolate.1527b5e7.svg
storybook-static/static/media/percolate.fae78e19.ttf
